.root,
#root,
.__nuxt,
#__nuxt,
#docs-root {
  /* colors*/
  /* TODO: these color variables are deprecated, we can access tailwind properties directly at any place (component scoped styles, normal css files) */
  --primary-color: theme(colors.primary-color);
  --third-color: theme(colors.third-color);
  --secondary-color: theme(colors.secondary-color);
  --danger-color: theme(colors.danger-color);
  --black-russian-color: theme(colors.black-russian-color);
  --ebony-clay-color: theme(colors.ebony-clay-color);
  --midnight-express-color: theme(colors.midnight-express-color);
  --dark-color: theme(colors.dark-color);
  --dark-grey-color: theme(colors.dark-grey-color);
  --cloud-burst-color: theme(colors.cloud-burst-color);
  --concrete-gray-grey-color: theme(colors.concrete-gray-grey-color);
  --slate-color: theme(colors.slate-color);
  --steel-color: theme(colors.steel-color);
  --ronil-color: theme(colors.ronil-color);
  --cloud-burst-color: theme(colors.cloud-burst-color);

  /* hover colors */
  --primary-hover-color: theme(colors.primary-hover-color);
  --third-hover-color: theme(colors.third-hover-color);
  --secondary-hover-color: theme(colors.secondary-hover-color);
  --danger-hover-color: theme(colors.danger-hover-color);
}

/* input:focus {
    border: 1px solid var(--slate-color) !important;
} */
#slate-outline-input:focus {
  border: 1px solid var(--slate-color) !important;
}
#primary-outline-input:focus {
  border: 1px solid var(--primary-color) !important;
}

li {
  margin-left: 20px;
  list-style-type: square;
}

#site-header {
  box-shadow: #0003 0 4px 6px -1px,#0000001f 0 2px 4px -1px;
  touch-action: none;
}
